In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import csv

In [4]:
data = []
with open('data/E0 (20).csv', 'r', encoding='utf-16') as f:
    reader = csv.reader(f)
    for row in reader:
        data.append(row[: 26])
        
data = pd.DataFrame(np.array(data))

In [5]:
data

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
1,E0,14/08/04,Aston Villa,Southampton,2,0,H,2,0,H,...,9,12,6,0,0,0,0,1.9,3.1,4.33
2,E0,14/08/04,Blackburn,West Brom,1,1,D,0,1,A,...,17,4,5,1,0,0,0,1.8,3.1,5
3,E0,14/08/04,Bolton,Charlton,4,1,H,2,0,H,...,12,9,5,1,1,0,0,2.25,3.2,3.1
4,E0,14/08/04,Man City,Fulham,1,1,D,1,0,H,...,12,9,4,0,2,0,0,2.1,3.25,3.4
5,E0,14/08/04,Middlesbrough,Newcastle,2,2,D,0,1,A,...,13,6,7,3,1,0,0,2.3,3.25,3
6,E0,14/08/04,Norwich,Crystal Palace,1,1,D,1,0,H,...,16,6,11,0,1,0,0,2.1,3.25,3.4
7,E0,14/08/04,Portsmouth,Birmingham,1,1,D,1,1,D,...,16,8,4,2,4,0,0,2.4,3.2,2.87
8,E0,14/08/04,Tottenham,Liverpool,1,1,D,0,1,A,...,11,3,8,3,1,0,0,3.1,3.2,2.25
9,E0,15/08/04,Chelsea,Man United,1,0,H,1,0,H,...,8,2,3,0,0,0,0,2.1,3.25,3.4
10,E0,15/08/04,Everton,Arsenal,1,4,A,0,2,A,...,19,0,7,2,1,0,0,6,3.4,1.61
11,E0,21/08/04,Birmingham,Chelsea,0,1,A,0,0,D,...,16,8,2,0,0,0,0,4.5,3.2,1.83
12,E0,21/08/04,Charlton,Portsmouth,2,1,H,1,0,H,...,11,5,6,0,1,0,0,2,3.2,3.75
13,E0,21/08/04,Crystal Palace,Everton,1,3,A,1,1,D,...,18,6,6,1,1,0,1,2.3,3.25,3
14,E0,21/08/04,Fulham,Bolton,2,0,H,1,0,H,...,13,8,4,0,0,0,0,2.25,3.2,3.1
15,E0,21/08/04,Liverpool,Man City,2,1,H,0,1,A,...,17,8,3,1,3,0,1,1.57,3.5,6.5
16,E0,21/08/04,Man United,Norwich,2,1,H,1,0,H,...,23,11,5,0,1,0,0,1.25,5,13
17,E0,21/08/04,Newcastle,Tottenham,0,1,A,0,0,D,...,12,13,3,1,2,0,0,1.66,3.4,5.5
18,E0,21/08/04,Southampton,Blackburn,3,2,H,1,0,H,...,18,3,6,0,3,0,0,2.3,3.25,3
19,E0,22/08/04,Arsenal,Middlesbrough,5,3,H,1,1,D,...,14,7,5,1,1,0,0,1.36,4.33,9
20,E0,22/08/04,West Brom,Aston Villa,1,1,D,1,1,D,...,20,12,4,2,2,0,0,2.87,3.2,2.4
21,E0,24/08/04,Birmingham,Man City,1,0,H,1,0,H,...,13,2,5,1,1,0,0,1.9,3.1,4.33
22,E0,24/08/04,Crystal Palace,Chelsea,0,2,A,0,1,A,...,12,1,6,1,1,0,0,8.5,3.75,1.44
23,E0,25/08/04,Arsenal,Blackburn,3,0,H,0,0,D,...,18,6,5,2,4,0,0,1.28,5,10
24,E0,25/08/04,Charlton,Aston Villa,3,0,H,2,0,H,...,7,4,12,0,1,0,0,2.5,3.2,2.75
25,E0,25/08/04,Fulham,Middlesbrough,0,2,A,0,0,D,...,8,1,6,0,1,0,0,2.5,3.2,2.75
26,E0,25/08/04,Newcastle,Norwich,2,2,D,1,0,H,...,10,12,6,0,1,0,0,1.44,4,7.5
27,E0,25/08/04,Southampton,Bolton,1,2,A,0,2,A,...,8,9,6,1,1,0,0,2.25,3.2,3.1
28,E0,25/08/04,West Brom,Tottenham,1,1,D,1,1,D,...,10,4,5,0,0,0,0,2.75,3.2,2.5
29,E0,28/08/04,Aston Villa,Newcastle,4,2,H,1,2,A,...,11,9,4,3,1,0,0,2.4,3.2,2.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,E0,30/04/05,Liverpool,Middlesbrough,1,1,D,0,1,A,...,20,7,4,2,3,0,0,1.72,3.4,5
352,E0,30/04/05,Man City,Portsmouth,2,0,H,2,0,H,...,6,7,5,0,1,0,0,1.72,3.4,5
353,E0,30/04/05,Newcastle,Crystal Palace,0,0,D,0,0,D,...,15,5,2,1,1,0,0,1.83,3.3,4.33
354,E0,30/04/05,Southampton,Norwich,4,3,H,3,3,D,...,13,6,8,3,2,0,0,2,3.4,3.5
355,E0,01/05/05,Charlton,Man United,0,4,A,0,2,A,...,15,1,7,0,2,1,0,6,3.4,1.61
356,E0,01/05/05,Tottenham,Aston Villa,5,1,H,3,1,H,...,17,9,3,1,2,0,0,1.9,3.3,4
357,E0,02/05/05,West Brom,Arsenal,0,2,A,0,0,D,...,11,9,0,0,0,0,0,5,3.6,1.66
358,E0,04/05/05,Fulham,Newcastle,1,3,A,0,1,A,...,13,1,2,1,1,0,0,2.2,3.4,2.75
359,E0,07/05/05,Aston Villa,Man City,1,2,A,0,2,A,...,18,6,2,1,1,0,0,2.37,3.25,2.87
360,E0,07/05/05,Blackburn,Fulham,1,3,A,1,1,D,...,23,8,5,2,2,1,1,2.1,3.25,3.4
361,E0,07/05/05,Chelsea,Charlton,1,0,H,0,0,D,...,13,2,5,0,0,0,0,1.28,5,10
362,E0,07/05/05,Crystal Palace,Southampton,2,2,D,1,1,D,...,18,5,2,3,1,1,1,2.2,3.4,3
363,E0,07/05/05,Everton,Newcastle,2,0,H,1,0,H,...,11,3,2,3,1,0,1,1.72,3.4,5
364,E0,07/05/05,Man United,West Brom,1,1,D,1,0,H,...,13,12,0,1,0,0,0,1.3,5,9
365,E0,07/05/05,Middlesbrough,Tottenham,1,0,H,1,0,H,...,10,4,3,1,3,0,0,2.25,3.2,3.1
366,E0,07/05/05,Norwich,Birmingham,1,0,H,1,0,H,...,10,1,7,1,5,0,1,1.9,3.5,3.75
367,E0,07/05/05,Portsmouth,Bolton,1,1,D,0,1,A,...,23,2,9,0,2,0,0,2.75,3.4,2.4
368,E0,08/05/05,Arsenal,Liverpool,3,1,H,2,0,H,...,10,1,4,0,2,0,0,1.72,3.4,5
369,E0,10/05/05,Man United,Chelsea,1,3,A,1,1,D,...,14,7,0,2,3,0,0,2.2,3.25,3.2
370,E0,11/05/05,Arsenal,Everton,7,0,H,3,0,H,...,12,4,2,2,0,0,0,1.61,3.6,5.5
371,E0,15/05/05,Birmingham,Arsenal,2,1,H,0,0,D,...,8,3,2,1,0,0,0,3.4,3.5,2
372,E0,15/05/05,Bolton,Everton,3,2,H,0,1,A,...,17,5,6,2,1,1,0,1.9,3.4,4
373,E0,15/05/05,Charlton,Crystal Palace,2,2,D,1,0,H,...,14,3,8,2,2,0,0,3,3.5,2.2
374,E0,15/05/05,Fulham,Norwich,6,0,H,2,0,H,...,12,4,13,0,1,0,0,2.8,3.5,2.3
375,E0,15/05/05,Liverpool,Aston Villa,2,1,H,2,0,H,...,16,9,5,0,0,0,0,1.66,3.4,5.5
376,E0,15/05/05,Man City,Middlesbrough,1,1,D,0,1,A,...,15,10,3,2,4,0,0,2.1,3.1,3.6
377,E0,15/05/05,Newcastle,Chelsea,1,1,D,1,1,D,...,17,6,4,4,4,0,0,3.2,3.25,2.2
378,E0,15/05/05,Southampton,Man United,1,2,A,1,1,D,...,13,5,3,1,2,0,0,2.37,3.6,2.62
379,E0,15/05/05,Tottenham,Blackburn,0,0,D,0,0,D,...,14,5,7,2,2,0,0,1.57,3.5,6.5
380,E0,15/05/05,West Brom,Portsmouth,2,0,H,0,0,D,...,13,6,1,0,1,0,0,1.57,3.75,6

In [6]:
fixture = []
x = 0
size = 10

for i in range(data.shape[0]):
    d = data[x:size]
    for index, row in d.iterrows():
        if (row[2] == 'Liverpool' or row[3] == 'Liverpool') and (row[2] == 'Aston Villa' or row[3] == 'Aston Villa'):
            fixture.append(row) 
    
    x += 10
    size += 10


fixture = pd.DataFrame(fixture)

In [7]:
fixture

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
151,E0,04/12/04,Aston Villa,Liverpool,1,1,D,1,1,D,...,10,3,9,1,0,0,0,2.5,3.2,2.75
375,E0,15/05/05,Liverpool,Aston Villa,2,1,H,2,0,H,...,16,9,5,0,0,0,0,1.66,3.4,5.5

In [28]:
data = []
with open('data/E0 (21).csv', 'r', encoding='utf-16') as f:
    reader = csv.reader(f)
    for row in reader:
        data.append(row[: 26])
        
data = pd.DataFrame(np.array(data))

UnicodeError: UTF-16 stream does not start with BOM