In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [77]:
import csv

In [78]:
data = []
with open('data/E0 (20).csv', 'r', encoding='utf-16') as f:
    reader = csv.reader(f)
    for row in reader:
        data.append(row[: 26])
        
data = pd.DataFrame(np.array(data))

In [79]:
data

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
1,E0,14/08/04,Aston Villa,Southampton,2,0,H,2,0,H,...,9,12,6,0,0,0,0,1.9,3.1,4.33
2,E0,14/08/04,Blackburn,West Brom,1,1,D,0,1,A,...,17,4,5,1,0,0,0,1.8,3.1,5
3,E0,14/08/04,Bolton,Charlton,4,1,H,2,0,H,...,12,9,5,1,1,0,0,2.25,3.2,3.1
4,E0,14/08/04,Man City,Fulham,1,1,D,1,0,H,...,12,9,4,0,2,0,0,2.1,3.25,3.4
5,E0,14/08/04,Middlesbrough,Newcastle,2,2,D,0,1,A,...,13,6,7,3,1,0,0,2.3,3.25,3
6,E0,14/08/04,Norwich,Crystal Palace,1,1,D,1,0,H,...,16,6,11,0,1,0,0,2.1,3.25,3.4
7,E0,14/08/04,Portsmouth,Birmingham,1,1,D,1,1,D,...,16,8,4,2,4,0,0,2.4,3.2,2.87
8,E0,14/08/04,Tottenham,Liverpool,1,1,D,0,1,A,...,11,3,8,3,1,0,0,3.1,3.2,2.25
9,E0,15/08/04,Chelsea,Man United,1,0,H,1,0,H,...,8,2,3,0,0,0,0,2.1,3.25,3.4
10,E0,15/08/04,Everton,Arsenal,1,4,A,0,2,A,...,19,0,7,2,1,0,0,6,3.4,1.61
11,E0,21/08/04,Birmingham,Chelsea,0,1,A,0,0,D,...,16,8,2,0,0,0,0,4.5,3.2,1.83
12,E0,21/08/04,Charlton,Portsmouth,2,1,H,1,0,H,...,11,5,6,0,1,0,0,2,3.2,3.75
13,E0,21/08/04,Crystal Palace,Everton,1,3,A,1,1,D,...,18,6,6,1,1,0,1,2.3,3.25,3
14,E0,21/08/04,Fulham,Bolton,2,0,H,1,0,H,...,13,8,4,0,0,0,0,2.25,3.2,3.1
15,E0,21/08/04,Liverpool,Man City,2,1,H,0,1,A,...,17,8,3,1,3,0,1,1.57,3.5,6.5
16,E0,21/08/04,Man United,Norwich,2,1,H,1,0,H,...,23,11,5,0,1,0,0,1.25,5,13
17,E0,21/08/04,Newcastle,Tottenham,0,1,A,0,0,D,...,12,13,3,1,2,0,0,1.66,3.4,5.5
18,E0,21/08/04,Southampton,Blackburn,3,2,H,1,0,H,...,18,3,6,0,3,0,0,2.3,3.25,3
19,E0,22/08/04,Arsenal,Middlesbrough,5,3,H,1,1,D,...,14,7,5,1,1,0,0,1.36,4.33,9
20,E0,22/08/04,West Brom,Aston Villa,1,1,D,1,1,D,...,20,12,4,2,2,0,0,2.87,3.2,2.4
21,E0,24/08/04,Birmingham,Man City,1,0,H,1,0,H,...,13,2,5,1,1,0,0,1.9,3.1,4.33
22,E0,24/08/04,Crystal Palace,Chelsea,0,2,A,0,1,A,...,12,1,6,1,1,0,0,8.5,3.75,1.44
23,E0,25/08/04,Arsenal,Blackburn,3,0,H,0,0,D,...,18,6,5,2,4,0,0,1.28,5,10
24,E0,25/08/04,Charlton,Aston Villa,3,0,H,2,0,H,...,7,4,12,0,1,0,0,2.5,3.2,2.75
25,E0,25/08/04,Fulham,Middlesbrough,0,2,A,0,0,D,...,8,1,6,0,1,0,0,2.5,3.2,2.75
26,E0,25/08/04,Newcastle,Norwich,2,2,D,1,0,H,...,10,12,6,0,1,0,0,1.44,4,7.5
27,E0,25/08/04,Southampton,Bolton,1,2,A,0,2,A,...,8,9,6,1,1,0,0,2.25,3.2,3.1
28,E0,25/08/04,West Brom,Tottenham,1,1,D,1,1,D,...,10,4,5,0,0,0,0,2.75,3.2,2.5
29,E0,28/08/04,Aston Villa,Newcastle,4,2,H,1,2,A,...,11,9,4,3,1,0,0,2.4,3.2,2.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,E0,30/04/05,Liverpool,Middlesbrough,1,1,D,0,1,A,...,20,7,4,2,3,0,0,1.72,3.4,5
352,E0,30/04/05,Man City,Portsmouth,2,0,H,2,0,H,...,6,7,5,0,1,0,0,1.72,3.4,5
353,E0,30/04/05,Newcastle,Crystal Palace,0,0,D,0,0,D,...,15,5,2,1,1,0,0,1.83,3.3,4.33
354,E0,30/04/05,Southampton,Norwich,4,3,H,3,3,D,...,13,6,8,3,2,0,0,2,3.4,3.5
355,E0,01/05/05,Charlton,Man United,0,4,A,0,2,A,...,15,1,7,0,2,1,0,6,3.4,1.61
356,E0,01/05/05,Tottenham,Aston Villa,5,1,H,3,1,H,...,17,9,3,1,2,0,0,1.9,3.3,4
357,E0,02/05/05,West Brom,Arsenal,0,2,A,0,0,D,...,11,9,0,0,0,0,0,5,3.6,1.66
358,E0,04/05/05,Fulham,Newcastle,1,3,A,0,1,A,...,13,1,2,1,1,0,0,2.2,3.4,2.75
359,E0,07/05/05,Aston Villa,Man City,1,2,A,0,2,A,...,18,6,2,1,1,0,0,2.37,3.25,2.87
360,E0,07/05/05,Blackburn,Fulham,1,3,A,1,1,D,...,23,8,5,2,2,1,1,2.1,3.25,3.4
361,E0,07/05/05,Chelsea,Charlton,1,0,H,0,0,D,...,13,2,5,0,0,0,0,1.28,5,10
362,E0,07/05/05,Crystal Palace,Southampton,2,2,D,1,1,D,...,18,5,2,3,1,1,1,2.2,3.4,3
363,E0,07/05/05,Everton,Newcastle,2,0,H,1,0,H,...,11,3,2,3,1,0,1,1.72,3.4,5
364,E0,07/05/05,Man United,West Brom,1,1,D,1,0,H,...,13,12,0,1,0,0,0,1.3,5,9
365,E0,07/05/05,Middlesbrough,Tottenham,1,0,H,1,0,H,...,10,4,3,1,3,0,0,2.25,3.2,3.1
366,E0,07/05/05,Norwich,Birmingham,1,0,H,1,0,H,...,10,1,7,1,5,0,1,1.9,3.5,3.75
367,E0,07/05/05,Portsmouth,Bolton,1,1,D,0,1,A,...,23,2,9,0,2,0,0,2.75,3.4,2.4
368,E0,08/05/05,Arsenal,Liverpool,3,1,H,2,0,H,...,10,1,4,0,2,0,0,1.72,3.4,5
369,E0,10/05/05,Man United,Chelsea,1,3,A,1,1,D,...,14,7,0,2,3,0,0,2.2,3.25,3.2
370,E0,11/05/05,Arsenal,Everton,7,0,H,3,0,H,...,12,4,2,2,0,0,0,1.61,3.6,5.5
371,E0,15/05/05,Birmingham,Arsenal,2,1,H,0,0,D,...,8,3,2,1,0,0,0,3.4,3.5,2
372,E0,15/05/05,Bolton,Everton,3,2,H,0,1,A,...,17,5,6,2,1,1,0,1.9,3.4,4
373,E0,15/05/05,Charlton,Crystal Palace,2,2,D,1,0,H,...,14,3,8,2,2,0,0,3,3.5,2.2
374,E0,15/05/05,Fulham,Norwich,6,0,H,2,0,H,...,12,4,13,0,1,0,0,2.8,3.5,2.3
375,E0,15/05/05,Liverpool,Aston Villa,2,1,H,2,0,H,...,16,9,5,0,0,0,0,1.66,3.4,5.5
376,E0,15/05/05,Man City,Middlesbrough,1,1,D,0,1,A,...,15,10,3,2,4,0,0,2.1,3.1,3.6
377,E0,15/05/05,Newcastle,Chelsea,1,1,D,1,1,D,...,17,6,4,4,4,0,0,3.2,3.25,2.2
378,E0,15/05/05,Southampton,Man United,1,2,A,1,1,D,...,13,5,3,1,2,0,0,2.37,3.6,2.62
379,E0,15/05/05,Tottenham,Blackburn,0,0,D,0,0,D,...,14,5,7,2,2,0,0,1.57,3.5,6.5
380,E0,15/05/05,West Brom,Portsmouth,2,0,H,0,0,D,...,13,6,1,0,1,0,0,1.57,3.75,6

In [80]:
fixture = []
x = 0
size = 10

for i in range(data.shape[0]):
    d = data[x:size]
    for index, row in d.iterrows():
        if (row[2] == 'Liverpool' or row[3] == 'Liverpool') and (row[2] == 'Aston Villa' or row[3] == 'Aston Villa'):
            fixture.append(row) 
    
    x += 10
    size += 10


fixture = pd.DataFrame(fixture)

In [81]:
fixture

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
151,E0,04/12/04,Aston Villa,Liverpool,1,1,D,1,1,D,...,10,3,9,1,0,0,0,2.5,3.2,2.75
375,E0,15/05/05,Liverpool,Aston Villa,2,1,H,2,0,H,...,16,9,5,0,0,0,0,1.66,3.4,5.5

In [82]:
fixtures = []
x = 0
size = 10

for i in range(data.shape[0]):
    d = data[x:size]
    for index, row in d.iterrows():
        if (row[2] == 'Liverpool' or row[3] == 'Liverpool'):
            if row[2] == 'Liverpool':
                row.drop([3, 5, 6, 8, 9, 10, 12, 14, 16, 18, 20, 22, 23, 24, 25], inplace=True)
                row = [x for x in row if x != 'NaN']
                fixtures.append(row) 
                
            elif row[3] == 'Liverpool':
                row.drop([2, 4, 6, 7, 9, 10, 11, 13, 15, 17, 19, 21, 23, 24, 25], inplace=True)
                row = [x for x in row if x != 'NaN']
                fixtures.append(row) 
            
    x += 10
    size += 10


fixtures = pd.DataFrame(fixtures)

In [83]:
fixtures

    0         1          2  3  4   5   6   7   8  9  10
0   E0  14/08/04  Liverpool  1  1  16   8  11   8  1  0
1   E0  21/08/04  Liverpool  2  0  15  10   9   8  1  0
2   E0  29/08/04  Liverpool  0  0   7   2  14   2  0  0
3   E0  11/09/04  Liverpool  3  2  16   9   9   8  0  0
4   E0  20/09/04  Liverpool  1  0   6   3  15   2  2  0
5   E0  25/09/04  Liverpool  3  2  20  12  10   4  1  0
6   E0  03/10/04  Liverpool  0  0   5   3  20   2  1  0
7   E0  16/10/04  Liverpool  4  0  10   3  14   6  3  1
8   E0  23/10/04  Liverpool  2  0  17   7   9  12  0  0
9   E0  30/10/04  Liverpool  2  1  13   9  11   6  1  0
10  E0  06/11/04  Liverpool  0  0  17   8  19   4  3  0
11  E0  13/11/04  Liverpool  3  2  18   5  13   7  1  0
12  E0  20/11/04  Liverpool  0  0  17  10  10   5  2  0
13  E0  28/11/04  Liverpool  2  1  11   7   6   6  0  0
14  E0  04/12/04  Liverpool  1  1  12   7  10   9  0  0
15  E0  11/12/04  Liverpool  0  0  16   5  14   7  3  0
16  E0  14/12/04  Liverpool  1  0  12   7   6   6  0  0
17  E0  19/12/04  Liverpool  3  2  15   5  12   5  0  0
18  E0  26/12/04  Liverpool  5  1  16   8  13  11  0  0
19  E0  28/12/04  Liverpool  1  1  19  11   6   7  0  0
20  E0  01/01/05  Liverpool  0  0  14   7  14   3  2  0
21  E0  03/01/05  Liverpool  2  0  11   6  19   2  3  0
22  E0  15/01/05  Liverpool  0  0  13   5  12   9  2  0
23  E0  22/01/05  Liverpool  0  0  11   2  12   3  2  0
24  E0  01/02/05  Liverpool  2  0  19   7  15   7  0  0
25  E0  05/02/05  Liverpool  3  1  10   7  12   4  1  0
26  E0  12/02/05  Liverpool  0  0   6   2  10   4  0  0
27  E0  05/03/05  Liverpool  0  0   6   3  16   4  2  0
28  E0  16/03/05  Liverpool  0  0   7   2  12  11  1  0
29  E0  20/03/05  Liverpool  2  2  15   8  13   5  1  1
30  E0  02/04/05  Liverpool  1  0  10   7   6   4  1  0
31  E0  09/04/05  Liverpool  0  0   6   1  11   2  1  0
32  E0  16/04/05  Liverpool  2  1  18   7   5  12  0  0
33  E0  20/04/05  Liverpool  2  2  19  12   8   4  0  0
34  E0  23/04/05  Liverpool  0  0   9   7  14   1  5  0
35  E0  30/04/05  Liverpool  1  0  12   6  10   7  2  0
36  E0  08/05/05  Liverpool  1  0  11   6  10   4  2  0
37  E0  15/05/05  Liverpool  2  2  15   7  10   9  0  0

In [98]:
fixtures = []

x = 0
size = 10

for i in range(data.shape[0]):
    d = data[x:size]
    for index, row in d.iterrows():
        
        record = np.empty(9, dtype=object)
        
        if (row[2] == 'Liverpool' or row[3] == 'Liverpool'):
            
            row = row.tolist()
            record[0] = row[1].split('/')[1]
            
            if row[2] == 'Liverpool':
                record[1] = 1
                
                if row[9] == 'A': record[4] = 0 
                elif row[9] == 'H': record[4] = 3
                else: record[4] = 1
                    
            elif row[3] == 'Liverpool':
                record[1] = 0
                
                if row[9] == 'A': record[4] = 3 
                elif row[9] == 'H': record[4] = 0
                else: record[4] = 1
            
            record[2] = row[7]
            record[3] = row[8]
            record[5] = row[23]
            record[6] = row[24]
            record[7] = row[25]
            record[8] = row[4]
            
            fixtures.append(record)
            
            
    x += 10
    size += 10


fixtures = pd.DataFrame(fixtures)

In [99]:
fixtures

     0  1  2  3  4      5     6     7  8
0   08  0  0  1  3    3.1   3.2  2.25  1
1   08  1  0  1  0   1.57   3.5   6.5  2
2   08  0  1  0  0    3.2  3.25   2.2  1
3   09  1  2  0  3  1.444  3.75   8.5  3
4   09  0  1  0  0      2   3.2  3.75  2
5   09  1  2  0  3    1.4     4     9  3
6   10  0  0  0  1    1.8   3.1     5  1
7   10  0  2  0  0    3.4  3.25   2.1  2
8   10  1  0  0  1    1.5   3.6   7.5  2
9   10  0  2  1  0      5   3.1   1.8  2
10  11  1  0  0  1    1.5   3.6   7.5  0
11  11  1  2  1  3    1.5   3.5     8  3
12  11  0  1  0  0    2.5   3.2  2.75  2
13  11  1  1  0  3    3.4  3.25   2.1  2
14  12  0  1  1  1    2.5   3.2  2.75  1
15  12  0  0  0  1    2.6   3.2  2.62  1
16  12  1  0  0  1   1.44     4   7.5  1
17  12  1  2  1  3    1.9   3.1  4.33  3
18  12  0  0  1  3    5.5   3.4  1.66  0
19  12  1  1  0  3   1.36  4.33     9  1
20  01  1  0  0  1    3.1   3.2  2.25  0
21  01  0  0  0  1   4.33   3.4  1.66  1
22  01  1  0  1  0   2.62   3.2   2.6  0
23  01  0  2  0  0    4.5  3.25  1.83  2
24  02  0  1  0  0   2.87   3.2   2.4  1
25  02  1  1  1  1    1.5  3.75     7  3
26  02  0  2  0  0    3.2   3.2   2.2  2
27  03  0  0  0  1    2.4   3.2  2.87  1
28  03  1  0  0  1   1.57   3.5   6.5  0
29  03  1  2  0  3    1.9   3.1  4.33  2
30  04  1  0  0  1   1.83  3.25   4.5  1
31  04  0  0  0  1   2.87   3.2   2.4  1
32  04  1  1  1  1   1.83  3.25   4.5  2
33  04  0  1  2  3    3.2  3.25   2.2  1
34  04  0  1  0  0   3.75   3.5   1.9  1
35  04  1  0  1  0   1.72   3.4     5  1
36  05  0  2  0  0   1.72   3.4     5  3
37  05  1  2  0  3   1.66   3.4   5.5  2