In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [37]:
import csv

In [38]:
data = []
with open('data/E0 (1).csv', 'r', encoding='iso-8859-1') as f:
    reader = csv.reader(f)
    for row in reader:
        data.append(row[: 26])
        
data = pd.DataFrame(np.array(data))

In [39]:
data

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
1,E0,11/08/17,Arsenal,Leicester,4,3,H,2,2,D,...,12,9,4,0,1,0,0,1.53,4.5,6.5
2,E0,12/08/17,Brighton,Man City,0,2,A,0,0,D,...,9,3,10,0,2,0,0,11,5.5,1.33
3,E0,12/08/17,Chelsea,Burnley,2,3,A,0,3,A,...,11,8,5,3,3,2,0,1.25,6.5,15
4,E0,12/08/17,Crystal Palace,Huddersfield,0,3,A,0,2,A,...,19,12,9,1,3,0,0,1.83,3.6,5
5,E0,12/08/17,Everton,Stoke,1,0,H,1,0,H,...,10,6,7,1,1,0,0,1.7,3.8,5.75
6,E0,12/08/17,Southampton,Swansea,0,0,D,0,0,D,...,13,13,0,2,1,0,0,1.62,4,6.5
7,E0,12/08/17,Watford,Liverpool,3,3,D,2,1,H,...,8,3,3,0,3,0,0,6,4.2,1.62
8,E0,12/08/17,West Brom,Bournemouth,1,0,H,1,0,H,...,3,8,2,3,1,0,0,2.4,3.3,3.3
9,E0,13/08/17,Man United,West Ham,4,0,H,1,0,H,...,7,11,1,2,2,0,0,1.3,5.75,12
10,E0,13/08/17,Newcastle,Tottenham,0,2,A,0,0,D,...,10,5,7,1,2,1,0,5.5,4,1.7
11,E0,19/08/17,Bournemouth,Watford,0,2,A,0,0,D,...,14,8,5,1,3,0,0,2,3.6,4
12,E0,19/08/17,Burnley,West Brom,0,1,A,0,0,D,...,11,5,5,1,0,0,1,2.63,3.2,3
13,E0,19/08/17,Leicester,Brighton,2,0,H,1,0,H,...,10,6,2,1,0,0,0,1.73,3.8,5.5
14,E0,19/08/17,Liverpool,Crystal Palace,1,0,H,0,0,D,...,13,4,2,1,3,0,0,1.36,5.25,9.5
15,E0,19/08/17,Southampton,West Ham,3,2,H,2,1,H,...,10,7,2,1,1,0,1,1.75,3.8,5.25
16,E0,19/08/17,Stoke,Arsenal,1,0,H,0,0,D,...,11,2,9,0,0,0,0,4.5,3.8,1.85
17,E0,19/08/17,Swansea,Man United,0,4,A,0,1,A,...,11,3,5,1,1,0,0,11,5,1.36
18,E0,20/08/17,Huddersfield,Newcastle,1,0,H,0,0,D,...,10,7,3,3,4,0,0,2.5,3.25,3.2
19,E0,20/08/17,Tottenham,Chelsea,1,2,A,0,1,A,...,21,14,3,3,3,0,0,2.1,3.6,3.75
20,E0,21/08/17,Man City,Everton,1,1,D,0,1,A,...,9,7,1,1,2,1,1,1.33,5.75,10
21,E0,26/08/17,Bournemouth,Man City,1,2,A,1,1,D,...,14,2,5,5,4,0,1,11,6,1.3
22,E0,26/08/17,Crystal Palace,Swansea,0,2,A,0,1,A,...,6,1,1,4,1,0,0,1.95,3.5,4.33
23,E0,26/08/17,Huddersfield,Southampton,0,0,D,0,0,D,...,10,5,4,0,1,0,0,3.9,3.4,2.1
24,E0,26/08/17,Man United,Leicester,2,0,H,0,0,D,...,7,9,3,1,2,0,0,1.33,5.5,11
25,E0,26/08/17,Newcastle,West Ham,3,0,H,1,0,H,...,11,7,5,1,3,0,0,2.3,3.4,3.4
26,E0,26/08/17,Watford,Brighton,0,0,D,0,0,D,...,18,3,11,0,1,1,0,1.91,3.4,4
27,E0,27/08/17,Chelsea,Everton,2,0,H,2,0,H,...,7,6,3,2,2,0,0,1.45,4.5,8.5
28,E0,27/08/17,Liverpool,Arsenal,4,0,H,2,0,H,...,9,4,3,2,4,0,0,2.15,3.7,3.5
29,E0,27/08/17,Tottenham,Burnley,1,1,D,0,0,D,...,9,10,7,0,0,0,0,1.25,6.5,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,E0,30/01/18,Huddersfield,Liverpool,0,3,A,0,2,A,...,8,1,4,0,0,0,0,12,5.75,1.3
242,E0,30/01/18,Swansea,Arsenal,3,1,H,1,1,D,...,8,4,3,0,3,0,0,7,4.59,1.5
243,E0,30/01/18,West Ham,Crystal Palace,1,1,D,1,1,D,...,15,5,3,1,3,0,0,3.1,3.25,2.54
244,E0,31/01/18,Chelsea,Bournemouth,0,3,A,0,0,D,...,12,8,5,1,0,0,0,1.28,6.5,11
245,E0,31/01/18,Everton,Leicester,2,1,H,2,0,H,...,10,5,5,0,2,0,0,3,3.2,2.62
246,E0,31/01/18,Man City,West Brom,3,0,H,1,0,H,...,10,9,1,1,3,0,0,1.14,10,21
247,E0,31/01/18,Newcastle,Burnley,1,1,D,0,0,D,...,15,7,4,1,2,0,0,2.2,3.2,3.89
248,E0,31/01/18,Southampton,Brighton,1,1,D,0,1,A,...,10,7,2,3,1,0,0,1.75,3.5,6
249,E0,31/01/18,Stoke,Watford,0,0,D,0,0,D,...,12,2,6,4,3,0,0,2.25,3.5,3.39
250,E0,31/01/18,Tottenham,Man United,2,0,H,2,0,H,...,13,6,3,2,2,0,0,2.35,3.29,3.39
251,E0,03/02/18,Arsenal,Everton,5,1,H,4,0,H,...,8,4,6,2,0,0,0,1.3,5.75,12
252,E0,03/02/18,Bournemouth,Stoke,2,1,H,0,1,A,...,19,8,1,2,3,0,0,1.9,3.7,4.33
253,E0,03/02/18,Brighton,West Ham,3,1,H,1,1,D,...,7,4,1,3,1,0,0,2.35,3,3.7
254,E0,03/02/18,Burnley,Man City,1,1,D,0,1,A,...,6,3,13,4,1,0,0,13,6,1.28
255,E0,03/02/18,Leicester,Swansea,1,1,D,1,0,H,...,8,3,3,1,0,0,0,1.8,3.6,5.25
256,E0,03/02/18,Man United,Huddersfield,2,0,H,0,0,D,...,19,5,2,2,4,0,0,1.16,8.5,19
257,E0,03/02/18,West Brom,Southampton,2,3,A,1,2,A,...,10,5,7,2,1,0,0,2.54,3.2,3.1
258,E0,04/02/18,Crystal Palace,Newcastle,1,1,D,0,1,A,...,8,5,6,1,1,0,0,2.04,3.39,4.2
259,E0,04/02/18,Liverpool,Tottenham,2,2,D,1,0,H,...,9,3,7,3,1,0,0,2.1,3.75,3.6
260,E0,05/02/18,Watford,Chelsea,4,1,H,1,0,H,...,8,6,2,2,2,0,1,6.25,4,1.61
261,E0,10/02/18,Everton,Crystal Palace,3,1,H,0,0,D,...,15,8,7,1,1,0,0,2.25,3.25,3.2
262,E0,10/02/18,Man City,Leicester,5,1,H,1,1,D,...,12,8,2,2,3,0,0,1.19,6.5,13
263,E0,10/02/18,Stoke,Brighton,1,1,D,0,1,A,...,10,7,4,0,0,0,0,2.2,3.2,3.39
264,E0,10/02/18,Swansea,Burnley,1,0,H,0,0,D,...,9,5,2,2,1,0,0,2.37,3,3.25
265,E0,10/02/18,Tottenham,Arsenal,1,0,H,0,0,D,...,9,10,2,2,1,0,0,2,3.6,3.5
266,E0,10/02/18,West Ham,Watford,2,0,H,1,0,H,...,7,8,7,1,1,0,0,2.5,3.29,2.79
267,E0,11/02/18,Huddersfield,Bournemouth,4,1,H,2,1,H,...,12,2,6,0,3,0,0,3.25,3.2,2.25
268,E0,11/02/18,Newcastle,Man United,1,0,H,0,0,D,...,15,0,10,0,2,0,0,5.5,3.75,1.61
269,E0,11/02/18,Southampton,Liverpool,0,2,A,0,2,A,...,8,3,1,1,2,0,0,4.2,3.79,1.8
270,E0,12/02/18,Chelsea,West Brom,3,0,H,1,0,H,...,11,8,7,0,2,0,0,1.36,4.75,8

In [40]:
fixture = []
x = 0
size = 10

for i in range(data.shape[0]):
    d = data[x:size]
    for index, row in d.iterrows():
        if (row[2] == 'Liverpool' or row[3] == 'Liverpool') and (row[2] == 'Aston Villa' or row[3] == 'Aston Villa'):
            fixture.append(row) 
    
    x += 10
    size += 10


fixture = pd.DataFrame(fixture)

In [41]:
fixture

Empty DataFrame
Columns: []
Index: []

In [42]:
fixtures = []
x = 0
size = 10

for i in range(data.shape[0]):
    d = data[x:size]
    for index, row in d.iterrows():
        if (row[2] == 'Liverpool' or row[3] == 'Liverpool'):
            if row[2] == 'Liverpool':
                row.drop([3, 5, 6, 8, 9, 10, 12, 14, 16, 18, 20, 22, 23, 24, 25], inplace=True)
                row = [x for x in row if x != 'NaN']
                fixtures.append(row) 
                
            elif row[3] == 'Liverpool':
                row.drop([2, 4, 6, 7, 9, 10, 11, 13, 15, 17, 19, 21, 23, 24, 25], inplace=True)
                row = [x for x in row if x != 'NaN']
                fixtures.append(row) 
            
    x += 10
    size += 10


fixtures = pd.DataFrame(fixtures)

In [43]:
fixtures

    0         1          2  3  4   5   6   7   8  9  10
0   E0  12/08/17  Liverpool  3  1  14   5   8   3  3  0
1   E0  19/08/17  Liverpool  1  0  23  13  12   4  1  0
2   E0  27/08/17  Liverpool  4  2  18  10   6   4  2  0
3   E0  09/09/17  Liverpool  0  0  10   3   9   3  2  1
4   E0  16/09/17  Liverpool  1  1  35   9   7  12  1  0
5   E0  23/09/17  Liverpool  3  2  23   6  14   6  3  0
6   E0  01/10/17  Liverpool  1  1  17   2   6   5  1  0
7   E0  14/10/17  Liverpool  0  0  19   5   7   7  0  0
8   E0  22/10/17  Liverpool  1  1  12   7   8   5  1  0
9   E0  28/10/17  Liverpool  3  0  16   8  10   9  0  0
10  E0  04/11/17  Liverpool  4  2  15   7  13   3  0  0
11  E0  18/11/17  Liverpool  3  2  21   8  15  10  1  0
12  E0  25/11/17  Liverpool  1  0  16   4  10   7  0  0
13  E0  29/11/17  Liverpool  3  1  14   7  10   9  5  0
14  E0  02/12/17  Liverpool  5  2  12   6   7   2  0  0
15  E0  10/12/17  Liverpool  1  1  23   3   8  12  1  0
16  E0  13/12/17  Liverpool  0  0  14   5  16   5  1  0
17  E0  17/12/17  Liverpool  4  3  21   7  10   3  1  0
18  E0  22/12/17  Liverpool  3  1  14   9  11   8  0  0
19  E0  26/12/17  Liverpool  5  1  22   9   5   4  0  0
20  E0  30/12/17  Liverpool  2  0  17   6   7   7  3  0
21  E0  01/01/18  Liverpool  2  0  19   5  12   9  0  0
22  E0  14/01/18  Liverpool  4  1  16   7  10   5  2  0
23  E0  22/01/18  Liverpool  0  0  21   4   9   9  2  0
24  E0  30/01/18  Liverpool  3  2  14   7   8   4  0  0
25  E0  04/02/18  Liverpool  2  1   9   3  15   3  3  0
26  E0  11/02/18  Liverpool  2  2  16   4   8   1  2  0

In [44]:
season = []
all_seasons = []

try:
    for i in range(1, 27):
        if i not in range(9, 16):
            with open('data/E0 ({}).csv'.format(i), mode='r', encoding='iso-8859-1') as f:
                reader = csv.reader((line.replace('\0','') for line in f))
                for row in reader:
                    season.append(row[:26])

#             all_seasons.append(season)
except csv.Error:
    print('null byte')
    
data = pd.DataFrame(np.array(season))

In [45]:
data

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
1,E0,11/08/17,Arsenal,Leicester,4,3,H,2,2,D,...,12,9,4,0,1,0,0,1.53,4.5,6.5
2,E0,12/08/17,Brighton,Man City,0,2,A,0,0,D,...,9,3,10,0,2,0,0,11,5.5,1.33
3,E0,12/08/17,Chelsea,Burnley,2,3,A,0,3,A,...,11,8,5,3,3,2,0,1.25,6.5,15
4,E0,12/08/17,Crystal Palace,Huddersfield,0,3,A,0,2,A,...,19,12,9,1,3,0,0,1.83,3.6,5
5,E0,12/08/17,Everton,Stoke,1,0,H,1,0,H,...,10,6,7,1,1,0,0,1.7,3.8,5.75
6,E0,12/08/17,Southampton,Swansea,0,0,D,0,0,D,...,13,13,0,2,1,0,0,1.62,4,6.5
7,E0,12/08/17,Watford,Liverpool,3,3,D,2,1,H,...,8,3,3,0,3,0,0,6,4.2,1.62
8,E0,12/08/17,West Brom,Bournemouth,1,0,H,1,0,H,...,3,8,2,3,1,0,0,2.4,3.3,3.3
9,E0,13/08/17,Man United,West Ham,4,0,H,1,0,H,...,7,11,1,2,2,0,0,1.3,5.75,12
10,E0,13/08/17,Newcastle,Tottenham,0,2,A,0,0,D,...,10,5,7,1,2,1,0,5.5,4,1.7
11,E0,19/08/17,Bournemouth,Watford,0,2,A,0,0,D,...,14,8,5,1,3,0,0,2,3.6,4
12,E0,19/08/17,Burnley,West Brom,0,1,A,0,0,D,...,11,5,5,1,0,0,1,2.63,3.2,3
13,E0,19/08/17,Leicester,Brighton,2,0,H,1,0,H,...,10,6,2,1,0,0,0,1.73,3.8,5.5
14,E0,19/08/17,Liverpool,Crystal Palace,1,0,H,0,0,D,...,13,4,2,1,3,0,0,1.36,5.25,9.5
15,E0,19/08/17,Southampton,West Ham,3,2,H,2,1,H,...,10,7,2,1,1,0,1,1.75,3.8,5.25
16,E0,19/08/17,Stoke,Arsenal,1,0,H,0,0,D,...,11,2,9,0,0,0,0,4.5,3.8,1.85
17,E0,19/08/17,Swansea,Man United,0,4,A,0,1,A,...,11,3,5,1,1,0,0,11,5,1.36
18,E0,20/08/17,Huddersfield,Newcastle,1,0,H,0,0,D,...,10,7,3,3,4,0,0,2.5,3.25,3.2
19,E0,20/08/17,Tottenham,Chelsea,1,2,A,0,1,A,...,21,14,3,3,3,0,0,2.1,3.6,3.75
20,E0,21/08/17,Man City,Everton,1,1,D,0,1,A,...,9,7,1,1,2,1,1,1.33,5.75,10
21,E0,26/08/17,Bournemouth,Man City,1,2,A,1,1,D,...,14,2,5,5,4,0,1,11,6,1.3
22,E0,26/08/17,Crystal Palace,Swansea,0,2,A,0,1,A,...,6,1,1,4,1,0,0,1.95,3.5,4.33
23,E0,26/08/17,Huddersfield,Southampton,0,0,D,0,0,D,...,10,5,4,0,1,0,0,3.9,3.4,2.1
24,E0,26/08/17,Man United,Leicester,2,0,H,0,0,D,...,7,9,3,1,2,0,0,1.33,5.5,11
25,E0,26/08/17,Newcastle,West Ham,3,0,H,1,0,H,...,11,7,5,1,3,0,0,2.3,3.4,3.4
26,E0,26/08/17,Watford,Brighton,0,0,D,0,0,D,...,18,3,11,0,1,1,0,1.91,3.4,4
27,E0,27/08/17,Chelsea,Everton,2,0,H,2,0,H,...,7,6,3,2,2,0,0,1.45,4.5,8.5
28,E0,27/08/17,Liverpool,Arsenal,4,0,H,2,0,H,...,9,4,3,2,4,0,0,2.15,3.7,3.5
29,E0,27/08/17,Tottenham,Burnley,1,1,D,0,0,D,...,9,10,7,0,0,0,0,1.25,6.5,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7100,E0,07/05/11,Bolton,Sunderland,1,2,A,0,1,A,...,10,5,5,1,0,0,0,1.83,3.5,4.5
7101,E0,07/05/11,Everton,Man City,2,1,H,0,1,A,...,15,11,6,4,2,0,0,2.7,3.2,2.7
7102,E0,07/05/11,Newcastle,Birmingham,2,1,H,2,1,H,...,12,8,2,1,4,0,1,1.91,3.4,4.2
7103,E0,07/05/11,Tottenham,Blackpool,1,1,D,0,0,D,...,13,7,6,3,2,0,0,1.3,5.5,10
7104,E0,07/05/11,West Ham,Blackburn,1,1,D,0,1,A,...,14,7,3,3,0,0,0,1.95,3.6,3.8
7105,E0,08/05/11,Man United,Chelsea,2,1,H,2,0,H,...,14,7,2,2,4,0,0,2.38,3.25,3.1
7106,E0,08/05/11,Stoke,Arsenal,3,1,H,2,0,H,...,10,2,5,1,2,0,0,5.5,3.75,1.67
7107,E0,08/05/11,Wolves,West Brom,3,1,H,2,0,H,...,7,8,4,3,1,0,0,2.1,3.4,3.5
7108,E0,09/05/11,Fulham,Liverpool,2,5,A,0,3,A,...,11,6,5,5,2,0,0,2.88,3.25,2.5
7109,E0,10/05/11,Man City,Tottenham,1,0,H,1,0,H,...,8,2,8,1,1,0,0,1.91,3.4,4.2
7110,E0,14/05/11,Blackburn,Man United,1,1,D,1,0,H,...,11,2,6,3,0,0,0,5,3.6,1.73
7111,E0,14/05/11,Blackpool,Bolton,4,3,H,3,2,H,...,12,5,6,2,4,0,0,2.2,3.4,3.25
7112,E0,14/05/11,Sunderland,Wolves,1,3,A,1,1,D,...,19,5,5,0,0,0,0,2.5,3.25,2.88
7113,E0,14/05/11,West Brom,Everton,1,0,H,1,0,H,...,9,2,12,2,2,0,1,2.63,3.25,2.75
7114,E0,15/05/11,Arsenal,Aston Villa,1,2,A,0,2,A,...,10,13,2,1,4,0,0,1.36,5,8.5
7115,E0,15/05/11,Birmingham,Fulham,0,2,A,0,1,A,...,15,5,5,0,5,0,0,2.2,3.25,3.4
7116,E0,15/05/11,Chelsea,Newcastle,2,2,D,1,1,D,...,13,7,4,4,2,0,0,1.25,6,11
7117,E0,15/05/11,Liverpool,Tottenham,0,2,A,0,1,A,...,7,11,5,2,1,0,0,1.73,3.8,4.75
7118,E0,15/05/11,Wigan,West Ham,3,2,H,0,2,A,...,10,10,6,1,1,0,0,2.1,3.4,3.5
7119,E0,17/05/11,Man City,Stoke,3,0,H,1,0,H,...,9,4,3,0,3,0,0,1.36,4.75,9
7120,E0,22/05/11,Aston Villa,Liverpool,1,0,H,1,0,H,...,12,4,5,2,2,0,0,3.2,3.4,2.25
7121,E0,22/05/11,Bolton,Man City,0,2,A,0,1,A,...,10,6,5,1,1,1,0,5,3.75,1.7
7122,E0,22/05/11,Everton,Chelsea,1,0,H,0,0,D,...,14,6,5,3,2,1,0,3.1,3.25,2.38
7123,E0,22/05/11,Fulham,Arsenal,2,2,D,1,1,D,...,5,5,3,2,1,1,0,3.75,3.6,1.95
7124,E0,22/05/11,Man United,Blackpool,4,2,H,1,1,D,...,5,8,8,2,1,0,0,1.6,4,5.5
7125,E0,22/05/11,Newcastle,West Brom,3,3,D,2,0,H,...,8,7,6,0,0,0,0,2,3.5,3.75
7126,E0,22/05/11,Stoke,Wigan,0,1,A,0,0,D,...,9,5,3,1,4,0,0,2.75,3.6,2.4
7127,E0,22/05/11,Tottenham,Birmingham,2,1,H,0,0,D,...,15,7,5,0,3,0,0,1.53,4,6.5
7128,E0,22/05/11,West Ham,Sunderland,0,3,A,0,1,A,...,8,4,6,0,2,0,0,2,3.5,3.75
7129,E0,22/05/11,Wolves,Blackburn,2,3,A,0,3,A,...,9,8,3,3,1,0,0,2.2,3,3.75

In [49]:
fixtures = []

x = 0
size = 10

for i in range(data.shape[0]):
    d = data[x:size]
    for index, row in d.iterrows():
        
        record = np.empty(14, dtype=object)
        
        if (row[2] == 'Liverpool' or row[3] == 'Liverpool'):
            
            row = row.tolist()
            record[0] = row[1].split('/')[1]
            
            if row[2] == 'Liverpool':
                record[1] = 1
                
                if row[9] == 'A': record[4] = 0 
                elif row[9] == 'H': record[4] = 3
                else: record[4] = 1
                    
            elif row[3] == 'Liverpool':
                record[1] = 0
                
                if row[9] == 'A': record[4] = 3 
                elif row[9] == 'H': record[4] = 0
                else: record[4] = 1
            
            record[2] = row[7]
            record[3] = row[8]
            record[5] = row[23]
            record[6] = row[24]
            record[7] = row[25]
            
            # y's
            record[8] = row[4]
            record[9] = row[5]
            record[10] = row[17]
            record[11] = row[18]
            record[12] = row[19]
            record[13] = row[20]
            
            fixtures.append(record)
            
            
    x += 10
    size += 10


fixtures = pd.DataFrame(fixtures)

In [50]:
fixtures

     0   1  2  3   4     5     6     7  8  9   10  11 12 13
0    08   0  2  1   0     6   4.2  1.62  3  3   3   3  0  3
1    08   1  0  0   1  1.36  5.25   9.5  1  0   4   2  1  3
2    08   1  2  0   3  2.15   3.7   3.5  4  0   4   3  2  4
3    09   0  2  0   0  1.85     4   4.2  5  0   8   3  2  2
4    09   1  1  1   1  1.29     6    13  1  1  12   2  1  2
5    09   0  1  2   3   4.1   3.9  1.91  2  3   3   6  3  3
6    10   0  1  1   1     5   3.8  1.67  1  1   1   5  1  1
7    10   1  0  0   1   2.8  3.25   2.8  0  0   7   3  0  2
8    10   0  3  1   0  2.25   3.5  3.39  4  1   3   5  0  1
9    10   1  0  0   1  1.25  6.75    13  3  0   9   2  0  1
10   11   0  0  2   3  5.25  4.33  1.66  1  4   2   3  3  0
11   11   1  2  0   3  1.39     5     9  3  0  10   2  1  1
12   11   1  0  0   1  2.14   3.6   3.5  1  1   7   8  0  0
13   11   0  0  1   3   6.5   4.5  1.55  0  3   5   9  1  5
14   12   0  0  2   3   7.5   4.5   1.5  1  5   2   2  1  0
15   12   1  1  0   3   1.3     6    11  1  1  12   1  1  3
16   12   1  0  0   1  1.22     7    15  0  0   5   7  1  0
17   12   0  0  3   3   6.5   4.5  1.53  0  4   2   3  1  1
18   12   0  0  1   3  2.54   3.6  2.79  3  3   7   8  1  0
19   12   1  1  0   3  1.16     9    19  5  0   4   2  0  1
20   12   1  0  1   0   1.3     6    11  2  1   7   1  3  2
21   01   0  0  0   1   7.5   4.5   1.5  1  2   3   9  0  0
22   01   1  1  1   1   3.1  3.75  2.29  4  3   5   6  2  3
23   01   0  1  0   0    12  5.75   1.3  1  0   3   9  0  2
24   01   0  0  2   3    12  5.75   1.3  0  3   1   4  0  0
25   02   1  1  0   3   2.1  3.75   3.6  2  2   3   7  3  1
26   02   0  0  2   3   4.2  3.79   1.8  0  2   3   1  1  2
27   08   0  0  0   1   3.4   3.4   2.3  0  1   3   5  2  4
28   08   1  1  0   3  1.45  4.75     8  1  0   6   8  1  4
29   08   0  0  0   1  1.75     4     5  0  0   7   8  1  4
..   ..  .. .. ..  ..   ...   ...   ... .. ..  ..  .. .. ..
681  10   1  0  0   1  1.67   3.6   5.5  2  1  15   4  2  3
682  10   0  0  0   1   3.4  3.25   2.2  0  1   1   4  2  2
683  11   1  2  0   3   3.8   3.4     2  2  0   2   5  0  2
684  11   0  0  1   3  4.75   3.6  1.75  1  1   5   4  0  2
685  11   0  0  0   1  3.75  3.25   2.1  2  0   4   3  2  3
686  11   1  3  0   3  1.57   3.8   6.5  3  0  10   2  0  1
687  11   0  0  1   3     2   3.4   3.8  2  1   5   8  0  5
688  12   1  2  0   3  1.62  3.75     6  3  0   4   3  0  1
689  12   0  1  0   0   3.8   3.4     2  3  1   2   5  2  1
690  12   1  0  0   1  1.33     5    10  0  1   2   8  1  1
691  01   1  0  1   0   1.7  3.75     5  2  1   7   4  2  2
692  01   0  2  0   0   3.4  3.25   2.2  3  1   0   7  1  1
693  01   0  1  1   1   3.8  3.75  1.91  2  1   3   3  1  3
694  01   1  1  0   3   2.2   3.2   3.5  2  2  10   6  3  0
695  01   0  0  1   3   3.4   3.2  2.25  0  3   5   4  0  3
696  01   1  0  0   1  1.53   3.8     7  1  0   6   2  0  0
697  02   1  0  0   1  1.62  3.75     6  2  0   7   0  1  4
698  02   0  0  0   1  1.62     4   5.5  0  1   4   3  1  1
699  02   1  1  0   3  1.36  4.75     9  1  1   8   5  1  3
700  02   0  2  0   0   3.4   3.3   2.2  3  1   6   8  0  1
701  03   1  2  0   3   2.8   3.2   2.6  3  1   6   4  2  3
702  03   0  0  1   3  2.63   3.2  2.75  0  2   3   6  3  3
703  04   0  0  0   1     3   3.3  2.38  2  1   0   5  2  3
704  04   1  3  0   3   2.6   3.2   2.8  3  0   6   2  1  0
705  04   0  0  0   1  1.73   3.6     5  1  1  10   3  2  4
706  04   1  2  0   3  1.44  4.33   7.5  5  0   5   2  1  0
707  05   1  1  0   3  1.44  4.33   7.5  3  0   3  12  1  2
708  05   0  0  3   3  2.88  3.25   2.5  2  5   6   5  5  2
709  05   1  0  1   0  1.73   3.8  4.75  0  2  11   5  2  1
710  05   0  1  0   0   3.2   3.4  2.25  1  0   4   5  2  2

[711 rows x 14 columns]